/* Center the page */
.body {
	display: block;
	margin: 0 auto;
	width: 576px;
}

/* Form reads top to bottom */
label  {
	display: block;
	margin-top: 20px;
	letter-spacing: 2px;
}

/* Form is centered */

form {
	margin: 0 auto;
	width: 459px;
}

/* Styling on text boxes */

input, textarea {
	width: 439px;
	height: 27px;
	padding: 10px;
	margin-top: 3px;
	font-size: 0.9em;
	background: #000;
	border: 1px solid #AE5;
	color: #3a3a3a;
}
